<link href="/client/layout/default/style.css" type="text/css" rel="stylesheet">
<div class="default-layout" ng-controller="defaultLayout as vm">
    <div class="page-header">
        <!--<layout-default-banner></layout-default-banner>-->
    </div>
    <div class="page-content">
        <div class="left-panel">
            Left panel
        </div>
        <div class="right-panel" ui-view>
            right panel
        </div>
    </div>
    <div class="page-footer">
        <!--<layout-default-footer></layout-default-footer>-->
    </div>
</div>